form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .inputs {
        input {
            width: 100%;
            font-size: 1rem;
            padding: 1rem;
            background-color: #FFFE;
            color: #000;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            margin-top: 0.5rem;
        }
    }

    .show {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input {
            width: 1rem; height: 1rem;
            cursor: pointer;

            &:checked {
                accent-color: #133A95;
            }
        }
    }

    button {
        font-size: 1.25rem;
        padding: 0.9rem 0;
    }

    .recovery {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        small {
            font-size: 1rem;
        }
    }

}